body {
    background-color: teal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 420px;
    background: transparent;
    border: 2px solid white;
    backdrop-filter: blur(30px);
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 10px white;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 70px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}


a:hover{
    color: rgb(240, 69, 60);
}